body {
	margin: 0;
	background-color: #000;	
	color: #000;
	font-family: Helvetica, sans-serif;
}

li {
	list-style: none;
}

iframe {
	border: 0px;
}

button {
	z-index: 50;
	padding: 20px;
	color: white;
	background-color: rgba(20,20,20,0.8);
	border: 2px solid #ccc;
	z-index: 10;
	position: fixed;
	font-size: 14px;
	cursor: pointer;
}

button:hover {
	background-color: red;
	-webkit-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	transition: 0.5s linear;
}

#viewcount {
	z-index: 200;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	width: 500px;
	height: 40px;
	margin: 0 auto;
	color: white;
	font-size: 30px;
	text-shadow: 2px 1px black;
	text-align: center;
}

#forsale button {
	color: red;
	width: 150px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: yellow;
}
#forsale button:hover {
	color: white;
	background-color: red;
}

#plus {
	bottom: 90px;
	left: 20px;
	width: 140px;
	font-size: 18px;
}

#minus {
	bottom: 20px;
	left: 20px;
	width: 140px;
	font-size: 18px;
}

#cart {
	top: 20px;
	right: 90px;
}

#switch {
	width: 61px;
	height: 61px;
	padding: 0;
	line-height: 10px;
	position: absolute;
	right: 20px;
	top: 20px;
}

#switch img {
	width: 30px;
}

#overlay {
	display: none;
	background-color: rgba(0,0,0, 0.9);
	top: 100px;
	right: 20px;
	bottom: 20px;
	margin: 0 auto;
	height: auto;
	width: 250px;
	position: absolute;
	z-index: 100;
	color: white;
	border: 2px solid rgba(255, 255, 255, 0.2);
}

#overlay p {
	text-align: center;
}

#listtitle{
	padding: 10px 20px;
	font-weight: bold;
	margin: 20px 0 0 0;
}

#shoplist {
	width: 210px;
	padding: 0px 20px;
	/*minus top title and buy bar at bottom*/
	height: calc(100% - 160px); 
	position: absolute;
	overflow: scroll;
}

#shoplist img {
	width: 100%;
}

#buynow {
	display: none;
	right: 15px;
	position: absolute;
	bottom: 20px;
	padding: 15px;
	background-color: #333;
}

#buynow:hover {
	background-color: #444;
}

#total {
	left: 15px;
	position: absolute;
	bottom: 35px;
	color: red;
}

#close {
	width: 30px;
	height: 30px;
	padding: 0;
	line-height: 10px;
	position: absolute;
	right: 20px;
	top: 20px;
}

#youtube {
	position: fixed;
	z-index: 1;
	pointer-events: none;
}

#channel {
	background-color: rgba(0,0,0,0.8);
	border: 2px solid rgba(255,0,0,0.5);
	position: fixed;
	font-size: 20px;
	padding: 15px 20px 0;
	height: 44px;
	line-height: 30px;
	top: 20px;
	left: 20px;
	z-index: 10;
	color: #ff0000;
	font-weight: bold;
}

#theme {
	color: white;
	padding: 0 0 20px 0;
	font-weight: normal;
}

#forsale {
	display: none;
	background-color: rgba(0,0,0,0.8);
	border-top: 5px solid rgba(255,0,0,0.5);
	position: fixed;
	padding: 20px;
	width: 150px;
	bottom: 0px;
	right: 20px;
	z-index: 10;
	color: #ff0000;
	overflow: scroll;
}

#forsale img {
	width: 150px;
	margin-top: 20px;
}

#added {
	color: rgba(255,0,0,0.8);
	width: 150px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
 }